<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module"/>

<f:section name="Content">
    <h1>
        <f:translate key="LLL:EXT:oauth_service/Resources/Private/Language/locallang_mod.xlf:title"/>
    </h1>


    <form action="{formURI}" method="get" target="_top">

        <p>
            <f:translate key="LLL:EXT:oauth_service/Resources/Private/Language/locallang_mod.xlf:wizard.serviceSelection.intro"/>
        </p>

        <div class="form-group">
            <label for="oauthservice" class="form-label">
                <f:translate key="LLL:EXT:oauth_service/Resources/Private/Language/locallang_mod.xlf:wizard.serviceSelection.label"/>
            </label>
            <f:form.select id="oauthservice" name="oauthservice" class="form-select" options="{clientDefinitions}" optionValueField="identifier" optionLabelField="title" />
        </div>


        <f:form.submit class="btn btn-primary"
                       value="{f:translate(key: 'LLL:EXT:oauth_service/Resources/Private/Language/locallang_mod.xlf:action.continue')}" />

    </form>


</f:section>

</html>
